.headerimg{
    text-align: center;
    color:whitesmoke;
    background-image: url(https://th.bing.com/th/id/OIP.X2ORnMGHVUhHTo1pVrcHcwHaFL?w=274&h=192&c=7&r=0&o=5&pid=1.7);
    line-height:30px;
}
.h1{
    font-family: "Cambria", serif;
}
.h2{
    font-family: "Cambria", serif;
    font-weight: 300;
}
.p1{
    font-family: "Cambria", serif;
    font-weight: 100;
}
